{%extends "layout.html"%}
{% block content %}
    <div class="container">
        <div class="conta">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <fieldset class="fg">
                    <legend class="btm"> Reset Password</legend>
                    <div class="fg">
                        {{ form.password.label(class='control-label') }}
                        {% if form.password.errors %}
                        {{ form.password(class='from-control-lg') }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                        {% else %}
                        {{ form.password(class='control-form') }}
                        {% endif %}
                    </div>
                    <div class="fg">
                        {{ form.confirm_password.label(class='control-label') }}
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class='from-control-lg') }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                        {% else %}
                        {{ form.confirm_password(class='control-form') }}
                        {% endif %}
                    </div>
                    <div class="fg">
                        {{ form.submit(class='btn') }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}
